<h4 class="mt-3">投稿数の前日比・前週比</h4>
<table class='table table-bordered'>
  <thead>
    <tr>
      <th>今日の投稿数</th>
      <th>前日の投稿数</th>
      <th>前日比</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= today.count %></td>
        <td><%= yesterday.count %></td>
        <td>
         <% if yesterday.count == 0 %>
          前日の投稿はありません
         <% else %>
          <% day_before = today.count / yesterday.count.to_f %>
          <%= (day_before * 100).round %>% 
         <% end %>
        </td>
      </tr>
  </tbody>
</table>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>今週の投稿数</th>
      <th>前週の投稿数</th>
      <th>前週比</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= thisweek.count %></td>
        <td><%= lastweek.count %></td>
        <td>
         <% if lastweek.count == 0 %>
          前週の投稿はありません
         <% else %>
          <% week_before = thisweek.count / lastweek.count.to_f %>
          <%= (week_before * 100).round %>% 
         <% end %>
        </td>
      </tr>
  </tbody>
</table>