<div class='container px-5 px-sm-0'>
  <%= render 'layouts/errors', obj: @books %>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', { user: current_user , users: @user } %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', {book: @books, btn: "Create Book"}%>
    </div>
    <div class='col-md-8 offset-md-1'>
      <%= render 'layouts/search' %>
      <h2>Books</h2>
      
      <div class="wrap">
        <div id="tab-menu">
          <a href="#tab1" class="active">Default</a>&ensp;|&ensp;  
          <a href="#tab2" class="">新しい順</a>&ensp;|&ensp; 
          <a href="#tab3" class="">評価の高い順</a>
        </div>
      
      <div id="tab-contents">
        <div id="tab1" class="tab">
          <%= render 'index', { book: @book, book_detail: @book_datail } %>
        </div>
        <div id="tab2" class="tab">
          <%= render 'index', { book: @book_new, book_detail: @book_datail } %>
        </div>
        <div id="tab3" class="tab">
          <%= render 'index', { book: @book_star, book_detail: @book_datail } %>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>